@{
    List<Libros> libros = Context.Session.GetObject<List<Libros>>("libros");
}

<ul>
    ﻿@if (!Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a class="nav-link text-dark" asp-controller="Usuario" asp-action="Perfil">
                Login
            </a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-dark" asp-controller="Managed" asp-action="Logout">
                Logout
            <span>@Context.User.Identity.Name</span>
            </a>
        </li>

        <li>
            <a class="nav-link text-dark" asp-controller="Usuario" asp-action="Perfil">
                Perfil
            </a>
        </li>

        <li>
            @if (libros != null)
            {
                <a class="nav-link text-dark" asp-controller="Libros" asp-action="Carrito">Libros: @libros.Count()</a>
            }
            else
            {
                <a class="nav-link text-dark" asp-controller="Libros" asp-action="Carrito">Libros: 0</a>
            }
        </li>
    }
</ul>

